In [1]:
import seaborn as sns

In [2]:
tips = sns.load_dataset('tips')

In [3]:
tips.tip.map(lambda x:x+1)

0      2.01
1      2.66
2      4.50
3      4.31
4      4.61
       ...
239    6.92
240    3.00
241    3.00
242    2.75
243    4.00
Name: tip, Length: 244, dtype: float64

In [4]:
tips.sex.map(lambda x:'F' if x=='Female' else 'M')

0      F
1      M
2      M
3      M
4      F
      ..
239    M
240    F
241    M
242    M
243    F
Name: sex, Length: 244, dtype: category
Categories (2, object): ['M', 'F']

In [7]:
tips.sex.map({"Female":"F", "Male":"M"})

0      F
1      M
2      M
3      M
4      F
      ..
239    M
240    F
241    M
242    M
243    F
Name: sex, Length: 244, dtype: category
Categories (2, object): ['M', 'F']

In [10]:
#Series
tips.sex.apply(lambda x:'F' if x=='Female' else 'M')
#tips.sex.apply({"Female":"F", "Male":"M"})

0      F
1      M
2      M
3      M
4      F
      ..
239    M
240    F
241    M
242    M
243    F
Name: sex, Length: 244, dtype: category
Categories (2, object): ['M', 'F']

In [11]:
tips.apply(lambda x:x.tip+1, axis = 1)

0      2.01
1      2.66
2      4.50
3      4.31
4      4.61
       ...
239    6.92
240    3.00
241    3.00
242    2.75
243    4.00
Length: 244, dtype: float64

In [12]:
tips2 = tips[['total_bill', 'tip']]

In [13]:
tips2

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [21]:
tips2.apply(lambda x:sum(x),axis = 0)

total_bill    4827.77
tip            731.58
dtype: float64

In [19]:
tips2.sum()

total_bill    4827.77
tip            731.58
dtype: float64

In [22]:
tips2.apply(lambda x:sum(x),axis = 1)

0      18.00
1      12.00
2      24.51
3      26.99
4      28.20
       ...
239    34.95
240    29.18
241    24.67
242    19.57
243    21.78
Length: 244, dtype: float64

In [29]:
tips.groupby('sex', as_index=False)[['total_bill','tip']].mean().apply(lambda x: x.tip / x.total_bill, axis=1)

0    0.148940
1    0.156918
dtype: float64

In [30]:
#dataframe
tips2.applymap(lambda x:x+1)

     total_bill   tip
0         17.99  2.01
1         11.34  2.66
2         22.01  4.50
3         24.68  4.31
4         25.59  4.61
..          ...   ...
239       30.03  6.92
240       28.18  3.00
241       23.67  3.00
242       18.82  2.75
243       19.78  4.00

[244 rows x 2 columns]